body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;
	background-color: #ffffff;
}

a {
	text-decoration: none;
}

/*Помощь в сетке
body > * {
	outline: 2px solid blue;
}

body > * > * {
	outline: 3px solid green;
}

body > * > * > * {
	outline: 4px solid red;
}

body > * > * > * > *{
	outline: 4px solid yellow;
}

body > * > * > * > * > *{
	outline: 4px solid pink;
}

*/

.main-header {
	background-color: #eeeeee;
}

.main-navigation {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 16px;
	line-height: 30px;
	color: #000000;
	margin: 0px 140px;
	padding: 40px 0;
	background-color: #eeeeee;
}

.main-header-logo {
	margin-right: 200px;
	width: 160px;
	height: 65px;
}

.main-header-logo:hover {
	opacity: 0.8;
}

.main-header-logo:focus {
	opacity: 0.3;
}

.site-navigation {
	display: flex;
	justify-content: space-between;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.site-navigation li {
	margin-right: 50px;
}

.site-navigation li:last-child{
	margin-right: 0;
}

.site-navigation a {
	color: #000000;
}

.site-navigation a:hover {
	color: #fb565a;
}

.site-navigation a:focus {
	color: #bdbdbd;
}

/*Активная страницы*/
.main-navigation .current-page {
	border-bottom: 2px solid #fb565a;
}

.user-basket {
	margin-left: 245px;
	color: #000000;
}

.user-basket img {
	margin-right: 25px;
}

.user-basket:hover {
	color: #fb565a;
}

.user-basket:focus {
	color: #bdbdbd;
}

.services {
	margin-top: 40px;
	margin-bottom: 80px;
}

.services-list {
	display: flex;
	justify-content: space-between;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.services-item {
	width: 300px;
}

.services-item h3 {
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
}

.services-item p {
	font-size: 16px;
	line-height: 30px;
	color: #283136;
	margin-bottom: 35px;
}

.second-container {
	margin: 0px 140px;
}

.button {
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	vertical-align: middle;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 500;
	border: none;
}

.btn-red {
	background-color: #fb565a;
	border-radius: 2px;
	padding: 17px 40px;
}

.btn-red:hover {
	background-color: #e74246;
}

.btn-red:focus {
	background-color: #d7373b;
	color: rgba(255,255,255,0.3);
	box-shadow: inset 0 3px 0 0 rgba(0,0,0,0.1);

}
.btn-green {
	background-color: #00ca74;
	border-radius: 2px;
	padding: 17px 40px;
}

.btn-green:hover {
	background-color: #00bc6c;
}

.btn-green:focus {
	background-color: #00aa62;
	color: rgba(255,255,255,0.3);
	box-shadow: inset 0 3px 0 0 rgba(0,0,0,0.1);
}

.btn-yellow {
	background-color: #efc84a;
	border-radius: 2px;
	padding: 17px 40px;
}

.btn-yellow:hover {   
	background-color: #eab534;
}

.btn-yellow:focus {
	background-color: #e5a722;
	color: rgba(255,255,255,0.3);
	box-shadow: inset 0 3px 0 0 rgba(0,0,0,0.1);
} 

.main-footer {
	display: flex;
	align-items: center;
	padding-top: 70px;
	padding-bottom: 80px;
	margin: 0 140px;
	background-color: #ffffff;
}

.footer-social a {
	color: #000000;
}

.footer-social {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: left;
	list-style: none;
	margin-right: 140px;
}

.sales-container b {
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
}

.sales-container p {
	font-size: 16px;
	line-height: 22px;
}

.sales-container {
	width: 560px;
}

.sale-social b {
	font-size: 36px;
	line-height: 36px;
}

.sale-social p {
	font-size: 16px;
	line-height: 22px;
	color: #444444;
}

.social-button {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	background-color: #e1e1e1;
	margin-right: 12px;
}

.social-button:hover {
	background-color: #e74246;
}

.social-button:focus {
	background-color: #d7373b;
	box-shadow: inset 0 3px 0 0 rgba(0,0,0,0.1);
}

.social-button:focus svg {
	opacity: 0.3;
}

.write-us {
	max-width: 960px;
	color: #000000;
	background-color: #ffffff;
	margin-left: 240px;
	margin-right: 240px;
	padding-top: 70px;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 85px;
	box-shadow: 0 15px 40px 0 rgba(0,0,0,0.25);
}

.write-us-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.write-us-form h1 {
	display: inline-block;
	margin: 0;
	font-size: 45px;
	line-height: 45px;
	margin-bottom: 50px;
	margin-right: 440px;
}

.write-us-close-btn {
	border: none;
	background-color: transparent;
	background-image: url(../img/close-cross.svg);
	background-size: 21px 21px;
	width: 21px;
	height: 21px;
	opacity: 0.3;
}

.write-us-close-btn:hover {
	opacity: 1;
}

.write-us-close-btn:focus {
	opacity: 0.1;
}

.write-us-form input[type="text"],
.write-us-form textarea {
	box-sizing: border-box;
	font: inherit;
	color: #000000;
	background-color: #ffffff;
	border: 2px solid #d7dcde;
}

.write-us-form label {
	display: block;
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	margin-bottom: 12px;
}

.form-item {
	width: 360px;
	margin-bottom: 35px;
}

.form-text-item {
	width: 760px;
	margin-bottom: 35px;
}

.form-item input[type="text"] {
	width: 360px;
	min-height: 45px;
	border: none;
	outline: none;
	box-shadow: 0 0 0 2px #d7dcde;
	border-radius: 2px;
	padding-left: 15px;
}

.form-item input[type="text"]:hover {
	box-shadow: 0 0 0 2px #b4b9bb;
}

.form-item input[type="text"]:focus {
	box-shadow: 0 0 0 2px #000000;
}

input::-webkit-input-placeholder {
	color: #444444;
	opacity: 0.5;
}

.form-item label {
	display: block;
}

.form-text-item textarea {
	width: 760px;
	min-height: 115px;
	border: none;
	outline: none;
	box-shadow: 0 0 0 2px #d7dcde;
	border-radius: 2px;
	resize: none;
	padding: 15px;
}

.form-text-item textarea::placeholder {
	color: #444444;
	opacity: 0.5;
}

.form-text-item textarea:hover {
	box-shadow: 0 0 0 2px #b4b9bb;
}

.form-text-item textarea:focus {
	box-shadow: 0 0 0 2px #000000;
}

.send-write-us-form {
	border: none;
	color: #ffffff;
	width: 260px;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
}
/*Правило для невалидных полей форм*/
.input-invalid {
	border-color: red;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.filters {
	margin-right: 140px;
}

.filters fieldset {
	border: none;
}

.filters legend {
	font-size: 18px;
	line-height: 30px;
	color: #000000;
}

.filters legend {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}

.templates-settings label  {
	font-size: 16px;
	line-height: 20px;
	color: #283136;
}

.filters ul {
	list-style: none;
}

.view-filter-btn {
	background-color: #eeeeee;
	color: #000000;
	text-transform: uppercase;
	padding: 18px 90px;
	border-radius: 2px;
}

.view-filter-btn:hover {
	background-color: #dfdfdf;
}

.view-filter-btn:focus {
	background-color: #d5d5d5;
	color: rgba(0,0,0,0.3);
	box-shadow: inset 0 3px 0 0 rgba(0,0,0,0.1);
}

.catalog-list {
	list-style: none;
}

.template-name {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	color: #000000;
}

.catalog-item p{
	font-size: 16px;
	line-height: 18px;
	color: #666666;
}

.catalog-item > a {
	display: block;
	margin-top: 80px;
}

.catalog-item img {
	margin-top: -41px;
}

.catalog-item {
	width: 360px;
	min-height: 576px;
	display: block;
	position: relative;
}

.catalog-item:before {
	content: "";
	position: absolute;
	width: 360px;
	height: 40px;
	background-image: url(../img/browser.svg);
	background-repeat: repeat;
	background-color: #ffffff;
	opacity: 0.12;
}

.catalog-item:hover {
	box-shadow: 0 6px 15px 0 rgba(0,0,0,0.25);
}

.catalog-item:hover:before {
	opacity: 1;
}
.catalog-item:hover .up-price {
	display: block;
}

.up-price::before {
	display: block;
	position: relative;
	background-image: url(../img/browser.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 360px 40px;
	background-color: #ffffff;
}

.up-price {
	display: none;
	position: absolute;
	background-color: #eeeeee;
	width: 360px;
	height: 230px;
	top: 385px;
	text-align: center;
}

.up-price h2 {
	text-transform: uppercase;
	font-size: 18px;
	line-height: 30px;
	margin-top: 30px;
	margin-bottom: 25px;
}

.up-price p {
	font-size: 16px;
	line-height: 18px;
	color: #666666;
	margin-bottom: 30px;
}

.catalog-btn {
	padding: 20px 60px;
}


.template-name:hover {
	color: #fb565a;
}

.template-name:focus {
	color: #d2d2d2;
}

.page-title h1 {
	margin: 0;
	padding: 0;
	font-size: 55px;
	line-height: 55px;
	color: #000000;
}

.page-title {
	margin-top: 80px;
	margin-right: 140px;
	margin-left: 140px;
	padding-bottom: 115px;
	text-align: center;
}

.container {
	display: flex;
	margin-top: 60px;
	margin-left: 140px;
	margin-right: 140px;
}

.filters {
	margin-top: 260px;
}

.catalog {
	width: 760px;
}

.catalog-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}
.catalog-item {
	width: 360px;
	margin-bottom: 35px;
}